.Meme-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
  margin-top: 25px;
}
.Meme-textarea {
  width: auto;
  height: 40px;
  border-width: 3px;
  border-radius: 10px;
  text-align: center;
}
.Meme-input {
  width: 323px;
  height: 24px;
  border: 4px solid lightgray;
}
.Meme-textarea:focus::placeholder {
  color: transparent;
}
.Meme-btn {
  grid-column: 1 / span 2;
  justify-self: center;
  min-width: 300px;
  max-width: 800px;
  height: 60px;
  cursor: pointer;
  background-color: rgba(61, 59, 59, 0.584);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  font-size: large;
}
.Meme-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border: 6px ridge rgba(212, 209, 209, 0.795);
  position: relative;
  height: 300px;
  background-color: rgb(239, 233, 233);
  width: 50%;
}

.Meme-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 13px;
}
.meme-imgText-top {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.meme-imgText-bottom {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

/* Media Queries for mediume devices */

@media (max-width: 768px) {
  .Meme-form {
    grid-template-columns: 1fr;
  }

  .Meme-btn {
    min-width: 200px;
    max-width: 500px;
  }

  .Meme-img-container {
    width: 80%;
  }
}

/* Media Queries for small devices */

@media (max-width: 480px) {
  .Meme-textarea,
  .Meme-input,
  .Meme-btn {
    width: 95%;
    height: 40px;
  }
  .Meme-form{
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .Meme-btn{
    grid-column: 1 ;
  }
  .Meme-img-container {
    width: 90%;
  }
}
